.loginpage
{
    position: absolute;
    width: 500px;
    height: 500px;
}input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
}
#div1
{
    position: absolute;
    width: 500px;
    height: 500px;
}