<app-commonlinks></app-commonlinks>
<div style="position: absolute;border: 1px solid black; width: 95%; margin: 25px; height: 400px;">
    <h2 style="margin: 10px;">9 Types of Pet Care Professions and Services</h2>
    <h4 style="margin: 10px;">Veterinarian</h4>
    <p style="margin: 10px;">
        If someone were to be asked to name a pet care profession, top of mind would probably be who we more commonly call the ‘vet’. After all, our local veterinarian would be the first person to come to mind whenever we see your pets not feeling well or needing medical attention.
<br>
<br>
Also called a veterinary physician or a veterinary surgeon, veterinarians not only care for our pet’s health. They also contribute to society by working to improve public health. To do this, they research diseases and medical conditions of a wide variety of animals. And of course, they diagnose and treat pets and livestock among others.
    </p>

    <h4>
        Veterinary Assistant
    </h4>
<p>
    Veterinary assistants are the pets’ second best friend whenever they’re at their doctor’s clinic. Vet assistants help with duties at the clinic; but more importantly, they help with exercising the pets and they also help with kennel work. This kind of job will also require someone to be compassionate, patient, keen on details, organized. And one very important quality is that a vet’s assistant will have to be able to emotionally handle situations where pets are very ill or in more unfortunate cases when pets have to be euthanized.
</p>

<h4>
    Veterinary Acupuncturist
</h4>
<p>
    Veterinarians who practice acupuncture as part of a pet’s treatment are called veterinary or animal acupuncturists.
</p>

<h4>
    Dog or Cat Breeder / Assistant
</h4>
<p>
    Someone who is a big fan of puppies and kittens would perhaps find dog/cat breeding very appealing. The wonderful thing about being a breeder or an assistant to the breeder is that you get to spend a lot of time caring for the little ones while running the business of maintaining high genetic standards at the same time.
</p>
</div>
<br>
<br>